{% extends 'base.html' %}
{% block title %} crm {% endblock title %}
{% block content %}
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
    {% if not perms.clients.special_status %}
    <div class="position-absolute top-50 translate-middle">
        <h1>Пусто....</h1>
    </div>
    {% else %}
    <form class="d-flex" action="{% url 'crm:search_results' %}" method="get">
        <input name="q" class="form-control me-2" type="search" placeholder="Поиск..." aria-label="Поиск">
        <button class="btn btn-primary" type="submit">Поиск</button>
    </form>
    {% if client_list %}
    <ul class="mt-3">
        {% for client in client_list %}
        <li><a href="{% url 'crm:detail' client.slug %}">{{ client.name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="position-absolute top-50 translate-middle">
        <h1>Клиенты не заведены</h1>
    </div>
    {% endif %}
    {% endif %}
</div>
{% endblock content %}