{% extends 'base.html' %}
{% block title %} Опрос {% endblock title %}
{% block content %}
{% if latest_question_list %}
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
    <ul>
        {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li> {% endfor %}
    </ul>
</div>
{% else %}
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
    <div class="position-absolute top-50 translate-middle">
        <h1 class="">Опросов нет</h1>
    </div>
</div>
{% endif %}
{% endblock %}